<div class="page">
  <mat-card class="register-card">

    <div class="content">
      <div class="left">

        <img
          src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png"
          class="google-logo"
        />

        <h2 class="title">Create your Google Account</h2>

        <div class="row">
          <input class="input half" placeholder="First name" />
          <input class="input half" placeholder="Last name" />
        </div>

        <input class="input" placeholder="Username" />
        <small class="hint">You can use letters, numbers & periods</small>

        <div class="row">
          <input class="input half" placeholder="Password" />
          <input class="input half" placeholder="Confirm" />
        </div>

        <div class="checkbox">
          <input type="checkbox" />
          <span>Show password</span>
        </div>

        <div class="actions">
          <a routerLink="/login">Login</a>
          <button mat-raised-button>Next</button>
        </div>

      </div>
      <div class="right">
        <img
          src="https://ssl.gstatic.com/accounts/signup/glif/account.svg"
          alt="Google illustration"
        />
        <p>One account. All of Google working for you.</p>
      </div>

    </div>

  </mat-card>
</div>
